{:source-paths ["src/cljs"]
 :dependencies [[cider/cider-nrepl "0.25.6"]
                [binaryage/devtools "1.0.2"]
                [reagent "1.0.0"]
                [re-frame "1.1.2"]
                [bidi "2.1.6"]
                [kibu/pushy "0.3.8"]
                [com.andrewmcveigh/cljs-time "0.5.2"]]
 :dev-http {5000 "public"}
 :nrepl {:port 8777}
 :builds {:browser {:target :browser
                    :output-dir "public"
                    :asset-path "."
                    :devtools {:preloads [devtools.preload]}
                    :modules {:cheffy-main {:entries [cheffy.main]
                                            :init-fn cheffy.main/init}}}}}
