{:source-paths ["src/cljs"]
 :dependencies []
 :dev-http {5000 "public"}
 :nrepl {:port 8777}
 :builds {:browser {:target :browser
                    :output-dir "public"
                    :asset-path "."
                    :modules {:cheffy-main {:entries [cheffy.main]
                                            :init-fn cheffy.main/init}}}}}
