{:server/jetty {:handler #ig/ref :cheffy/app
                :port #or [#env PORT 3000]}
 :cheffy/app {:jdbc-url #ig/ref :db/postgres}
 :db/postgres {:jdbc-url #or [#env
                              DATABASE_URL
                              "jdbc:postgresql://localhost/cheffy_db?user=postgres&password=postgres"]}}
